.header{
    background-color: aqua;
    display:flex;
    justify-content: space-between;
}
.menu{
    display:flex;
    justify-content: space-between;
    background-color: aqua;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color:#ffffff;
    border:solid
}
.menu a{
    text-decoration: none;
}
body{
    background-color: #f7f2f2;
    margin:0px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    margin:20px
}
.grid img{
    border:2px solid black;
    border-radius:50px;
}

.origami{
    border-radius:20px;
    background-color:#ffffff;
    width:310px;
    font-family:fantasy;
    padding:20px;
    margin:20px
}
.origami:hover img{
    transform:scale(1.2)
    
}

.bodyimg{

    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    position:relative;
}
.bodyimg p{
    position:absolute;
    top:10%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 55px;
    font-family: fantasy;
    color:chartreuse
}
.menu a{
    padding:10px;
    margin-right:10px
}
a:link{
    color:gold
}
a:visited{
    color:goldenrod
}